@charset "UTF-8";
html {
    font: 1.2em/1.5 "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
    margin: 0 auto;
    padding: 0;
    width: 90%;
    max-width: 400px;
    background-color: #f8f8f8;
}

header h2 {
    text-align: center;
}

nav ol {
    display: flex;
    flex-direction: column;
}

nav ol li a {
    display: inline-block;
    text-decoration: none;
}

nav ol li a:focus,
nav ol li a:hover {
    border-bottom: 2px solid;
}

nav ul {
    padding-left: 0;
    list-style-type: none;
}

nav ul li iframe {
    margin: 0;
    padding: 0;
    max-width: 100%;
}
