@charset "UTF-8";
html {
    font: 1em/1.5 sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.align {
    margin: 20px auto;
    width: 90%;
    max-width: 980px;
}

section {
    padding: 10px;
    border: 1px solid #333;
}

textarea {
    display: block;
    padding: 10px 10px 0px;
    border: none;
    border-left: 6px solid #5ab;
    background-color: #f4f4f4;
    font-family: monospace;
    font-weight: bold;
    font-size: 120%;
}

textarea.playable-html { min-height: 160px; }

div.playable-buttons {
    display: flex;
    flex-direction: column;
}

div.playable-buttons input[type="button"] {
    margin: 10px;
    font-family: inherit;
    font-size: 100%;
}

/* アットルールでフォントサイズを変更 */
@media screen and (max-width: 699px) {
    textarea {
        font-size: 100%;
    }
}
